<div class="row">
	<div class="large-12 columns">
		<h1><%= t 'everyone.header' %></h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h2>Make one for a friend!</h2>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= form_for(:countdown, :url => new_countdown_path) do |f| %>
			<%= f.submit "Let me make one!" %>
		<% end %>
	</div>
</div>
<div class="row">
	<% if @countdowns.count > 0 %>
		<table id="countdowns" class="large-12 columns">
			<thead>
				<tr>
					<th width="200">Name</th>
					<th>Time Left</th>
				</tr>
			</thead>
			<tbody>
				<% @countdowns.each do |countdown| %>
					<tr>
						<td><%= link_to countdown.title, countdown_path(countdown.name) %></td>
						<td data:end_date="<%= countdown.end_date.to_i * 1000 %>"></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<div class="large-12 columns">
			<p>No Countdowns in progress</p>
		</div>
	<% end %>
</div>