<div class="row">
	<div class="large-12 columns">
		<h1><%= @countdown.title %></h1>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<h3 id="description"></h3>
	</div>
</div>

<div class="row">
	<div class="large-12 columns" id="iscoming">
		in <span id="remaining">...</span>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<img id="fader" class="<%= @site %>" src="http://graph.facebook.com/<%= @countdown.image %>/picture?type=large">
	</div>
</div>

<div class="row">
	<div class="large-12 columns" id="quote-container">
		<div id="quotes" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="4000" data-cycle-slides="> div"></div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= form_for(:countdown, :url => new_countdown_path) do |f| %>
			<%= f.submit "Make your own!" %>
		<% end %>
		or <%= link_to "Go Back", root_path %>
	</div>
</div>

<script>
	var start, end, start_description, end_description, hashtags;

	start = new Date(<%= @countdown.start_date.to_i * 1000 %>);
	end = new Date(<%= @countdown.end_date.to_i * 1000 %>);

	start_description = "<%= @countdown.start_description %>";
	end_description = "<%= @countdown.end_description %>";

	hashtags = <%= @countdown.tweets.to_json.html_safe %>;
</script>